<div class="card mb-3 bg-dark text-white">
  <div class="card-body">
    <div>
      <h5 class="card-title"><%= game.title %></h5>
    </div>
    <div>
      <h7>投票締め切りまで</h7><h6 class="count_down"><%= game.closed_at.to_f %></h6>
    </div>
    <div class="px-3">
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">プレイヤーネーム</th>
            <th scope="col">オッズ</th>
            <th scope="col">トータル</th>
          </tr>
        </thead>
        <tbody>
          <% index = 1 %>
          <% game.players.each do |player| %>
            <tr>
              <th scope="row"><%= index %></th>
              <td><%= player.name %></td>
              <td><%= player.odds %></td>
              <td>1000</td>
            </tr>
            <% index += 1 %>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="d-flex justify-content-end px-3">
      <%= link_to new_game_bet_path(game.id) do %>
      <button type="button" class="btn btn-light btn-lg">BET NOW</button>
      <% end %>
    </div>
  </div>
</div>
